<div class="bg-green-100 py-10s">
<h3 class="text-2xl tracking-widest text-green-600 text-center">FEATURES</h3>

<!-- Box -->
<div class="md:flex md:justify-center md:space-x-8 md:px-14">
  <!-- box-1 -->
  <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
    <div class="w-sm">
    <a hidden href='https://www.freepik.com/vectors/calendar'>Calendar vector created by pch.vector - www.freepik.com</a>
    <%= image_tag 'calendar.jpg', alt: "Move forward", width: 320 %>
    <div class="mt-4 text-green-600 text-center">
        <h1 class="text-xl font-bold">Shifts</h1>
        <p class="mt-4 text-gray-600">Conveniently scheduled shifts for your employees and see them displayed on a calendar</p>
        <button class="mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button>
      </div>
    </div>
  </div>

  <!-- box-2 -->
  <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
    <div class="w-sm">
    <a hidden href='https://www.freepik.com/vectors/business'>Business vector created by vectorjuice - www.freepik.com</a>
    <%= image_tag 'hands.jpg', alt: "Move forward", width: 320 %>
      <div class="mt-4 text-green-600 text-center">
        <h1 class="text-xl font-bold">Employees</h1>
        <p class="mt-4 text-gray-600">Keep your employees and their information up to date from the palm of your hand</p>
        <button class="mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button>
      </div>
    </div>
  </div>

  <!-- box-3 -->
  <div class="mt-16 py-4 px-4 bg-whit w-72 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-110 transition duration-500 mx-auto md:mx-0">
    <div class="w-sm"><br>
    <a hidden href='https://www.freepik.com/vectors/business'>Business vector created by vectorjuice - www.freepik.com</a>
    <%= image_tag 'news.jpg', alt: "Move forward", width: 320 %>
      <div class="mt-4 text-green-600 text-center">
        <h1 class="text-xl font-bold">News</h1>
        <p class="mt-4 text-gray-600">Stay updated on events and restrictions in your area which may effect your personnel</p>
        <button class="mt-8 mb-4 py-2 px-14 rounded-full bg-green-600 text-white tracking-widest hover:bg-green-500 transition duration-200">MORE</button>
      </div>
    </div>
  </div>
</div>
</div>
</header>

<!-- Footer -->
<footer class="text-center py-16 bg-gray-700 text-sm">
<p class="text-white">
<br><br>
Pocket Rota
<br>
Cloud Applications Development Project 2021
<br><br><br>
</p>
<p class="mt-20 text-white">Michelle Lally <br> x20194269</p>
</footer>
