<nav class="bg-white mb-4 shadow rounded">
     
</nav>

<h1>Events</h1>


<div class="bg-white p-10 border rounded">
  <div id="all-events" class="tab-panel active">

  <%= @final_output %>
  </div>

</div>


