<%= month_calendar events: shifts do |date, shifts| %>
  <%= date.day %>
  <% shifts.each do |shift| %>
    <div>
      <%= link_to shift.name, shift, class: "text-xs text-indigo-500"%>
    </div>
  <% end %>
<% end %>