<div class="p-5 bg-white border border-grey-light rounded">
<h1>Would you like some recommendations on how many hours your employees should be working? </h1>
  <%= form_tag "/hours" do %>
    <select name="search" id="search">
      <option></option>
      <option value="1">Full Time</option>
      <option value="2">Part Time</option>
      <option value="3">Under 18s</option>
    </select>
    <%= submit_tag "OK" %>
  <% end %>
  </div>
</div>