<div class="p-5 bg-white border border-grey-light rounded">
<h1>Would you like some recommendations on how many hours your employees should be working? </h1>
  <%= form_tag "/hours" do %>
  <%= text_field_tag :search %>
  <%= submit_tag "OK" %>
  <% end %>
  </div>
</div>