<div class="container m-auto my-4">
  <% unless current_user.shifts.any? %>
    <%= render "shifts_cta" %>
  <% else %>
    <%= render "shifts_landing",  shifts: @shifts %>
    <%= render "all_shifts", shifts: @shifts %>
  <% end %>
</div>